Repository bloodf/quasar-enterprise-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: webapp, axios, graphql, quasar-testing, text-utils, base-store

refactor(packages-boilerplate-copy-and-paste): fixed packages name
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/package.json
  packages-boilerplate-copy-and-paste/quasar-webapp/package.json
  packages-boilerplate-copy-and-paste/service-plugin/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/package.json
Due: none

feat(mirragejs-testing): added miragejs package for local test
  packages/mirragejs-testing/.editorconfig
  packages/mirragejs-testing/.eslintignore
  packages/mirragejs-testing/.eslintrc.js
  packages/mirragejs-testing/.gitignore
  packages/mirragejs-testing/.lintstagedrc
  packages/mirragejs-testing/.ncurc.json
  packages/mirragejs-testing/.postcssrc.js
  packages/mirragejs-testing/.stylintrc
  packages/mirragejs-testing/README.md
  packages/mirragejs-testing/_templates/file/help/index.ejs.t
  packages/mirragejs-testing/_templates/file/new/prompt.js
  packages/mirragejs-testing/_templates/file/new/src_index.ts.ejs.t
  packages/mirragejs-testing/_templates/file/new/test_index.test.ts.ejs.t
  packages/mirragejs-testing/jest.config.js
  packages/mirragejs-testing/package.json
  packages/mirragejs-testing/src/index.ts
  packages/mirragejs-testing/src/routes/user.ts
  packages/mirragejs-testing/src/server.ts
  packages/mirragejs-testing/test/.eslintrc.js
  packages/mirragejs-testing/test/tsconfig.json
  packages/mirragejs-testing/test/unit/.gitkeep
  packages/mirragejs-testing/tsconfig.doc.json
  packages/mirragejs-testing/tsconfig.json
  packages/mirragejs-testing/tsdx.config.js
  packages/mirragejs-testing/typedoc.json
  yarn.lock
Due: none

feat(mirragejs-testing): added faker to the dependencies
  packages/mirragejs-testing/package.json
  yarn.lock
Due: none

feat(mirragejs-testing): created the userFactory
  packages/mirragejs-testing/src/routes/user.ts
Due: none

refactor(mirragejs-testing): separeted files
  packages/mirragejs-testing/src/db/models.ts
  packages/mirragejs-testing/src/db/schema.ts
  packages/mirragejs-testing/src/db/user.ts
  packages/mirragejs-testing/src/factories/index.ts
  packages/mirragejs-testing/src/factories/user.ts
  packages/mirragejs-testing/src/index.ts
  packages/mirragejs-testing/src/interfaces/schema.ts
  packages/mirragejs-testing/src/interfaces/user.ts
  packages/mirragejs-testing/src/routes/index.ts
  packages/mirragejs-testing/src/routes/user.ts
  packages/mirragejs-testing/src/seeds/index.ts
  packages/mirragejs-testing/src/server.ts
Due: none

chore: updated packages-boilerplate-copy-and-paste
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/.eslintignore
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/jest.config.js
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/package.json
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/src/main.ts
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/styleguide.config.js
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/styleguide/global.requires.js
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/styleguide/styleguide.root.js
  packages-boilerplate-copy-and-paste/quasar-webapp/.eslintrc.js
  packages-boilerplate-copy-and-paste/quasar-webapp/.gitignore
  packages-boilerplate-copy-and-paste/quasar-webapp/jest.config.js
  packages-boilerplate-copy-and-paste/quasar-webapp/package.json
  packages-boilerplate-copy-and-paste/quasar-webapp/quasar.extensions.json
  packages-boilerplate-copy-and-paste/quasar-webapp/src/boot/service/vuex.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/boot/vuePlugin/compositionApi.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/boot/vuePlugin/i18n.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/boot/vuePlugin/vueLoadable.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/boot/vuePlugin/vuelidate.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/store/index.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/store/modules/module-example/index.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/store/rootGetters.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/src/store/rootState.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/test/.eslintrc.js
  packages-boilerplate-copy-and-paste/quasar-webapp/test/tsconfig.json
  packages-boilerplate-copy-and-paste/quasar-webapp/tsconfig.json
  packages-boilerplate-copy-and-paste/service-plugin/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/.eslintignore
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/jest.config.js
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/src/main.ts
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/styleguide.config.js
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/styleguide/global.requires.js
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/styleguide/styleguide.root.js
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/.eslintignore
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/jest.config.js
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/src/main.ts
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/styleguide.config.js
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/styleguide/global.requires.js
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/styleguide/styleguide.root.js
Due: none

chore: updated webapp example
  applications/webapp/.eslintrc.js
  applications/webapp/.gitignore
  applications/webapp/_templates/boot/create/boot.ts.ejs.t
  applications/webapp/_templates/component/composition/component.ejs.t
  applications/webapp/_templates/component/composition/test.ejs.t
  applications/webapp/_templates/layouts/composition/layout.ejs.t
  applications/webapp/_templates/layouts/composition/test.ejs.t
  applications/webapp/_templates/page/composition/test.ejs.t
  applications/webapp/_templates/store/create/index.ts.ejs.t
  applications/webapp/jest.config.js
  applications/webapp/package.json
  applications/webapp/quasar.extensions.json
  applications/webapp/src/App.vue
  applications/webapp/src/boot/service/vuex.ts
  applications/webapp/src/boot/vuePlugin/compositionApi.ts
  applications/webapp/src/boot/vuePlugin/i18n.ts
  applications/webapp/src/boot/vuePlugin/vueLoadable.ts
  applications/webapp/src/boot/vuePlugin/vuelidate.ts
  applications/webapp/src/index.template.html
  applications/webapp/src/layouts/base/ApplicationWrapper.vue
  applications/webapp/src/store/index.ts
  applications/webapp/src/store/modules/module-example/index.ts
  applications/webapp/src/store/rootGetters.ts
  applications/webapp/src/store/rootState.ts
  applications/webapp/test/tsconfig.json
  applications/webapp/tsconfig.json
  packages-boilerplate-copy-and-paste/quasar-webapp/quasar.conf.js
Due: webapp

chore: updated eslint packages
  package.json
  packages/eslint-import/.eslintignore
  packages/eslint-import/package.json
  packages/eslint-jest/.eslintignore
  packages/eslint-jest/index.js
  packages/eslint-jest/package.json
  packages/eslint-jest/rules/env.js
  packages/eslint-jest/rules/errors.js
  packages/eslint-jest/rules/extends.js
  packages/eslint-jest/rules/warn.js
  packages/eslint-typescript/.eslintignore
  packages/eslint-typescript/package.json
  packages/eslint-typescript/rules/extends.js
  packages/eslint-typescript/rules/typescript.js
  packages/eslint-vue-i18n/.eslintignore
  packages/eslint-vue-i18n/package.json
  packages/eslint-vue/.eslintignore
  packages/eslint/.eslintignore
  packages/eslint/package.json
  packages/eslint/rules/errors.js
  packages/eslint/rules/extends.js
  packages/eslint/rules/off.js
  packages/eslint/rules/parser.js
  packages/eslint/rules/plugins.js
Due: none

chore: updated packages
  .ncurc.json
  applications/webapp/package.json
  clients/axios/package.json
  clients/graphql/package.json
  package.json
  packages-boilerplate-copy-and-paste/quasar-webapp/package.json
  packages-boilerplate-copy-and-paste/service-plugin/package.json
  packages/eslint-import/package.json
  packages/eslint-jest/package.json
  packages/eslint-typescript/package.json
  packages/eslint/package.json
  packages/quasar-testing/package.json
  utils/text-utils/package.json
  utils/vue-router-utils/package.json
  utils/vuelidate-utils/package.json
  utils/vuex-utils/package.json
  vuex-common-stores/base-store/package.json
  yarn.lock
Due: webapp, axios, graphql, quasar-testing, text-utils, base-store

chore: updated service-plugin
  packages-boilerplate-copy-and-paste/service-plugin/.eslintrc.js
  packages-boilerplate-copy-and-paste/service-plugin/jest.config.js
  packages-boilerplate-copy-and-paste/service-plugin/package.json
  packages-boilerplate-copy-and-paste/service-plugin/test/.eslintrc.js
  packages-boilerplate-copy-and-paste/service-plugin/test/jest.setup.js
  packages-boilerplate-copy-and-paste/service-plugin/test/tsconfig.json
  packages-boilerplate-copy-and-paste/service-plugin/tsconfig.json
Due: none

chore: updated text-utils
  utils/text-utils/jest.config.js
  utils/text-utils/package.json
  utils/text-utils/test/.eslintrc.js
  utils/text-utils/test/tsconfig.json
  utils/text-utils/tsconfig.json
Due: text-utils

chore: updated vue-router-utils
  utils/vue-router-utils/.eslintrc.js
  utils/vue-router-utils/jest.config.js
  utils/vue-router-utils/package.json
  utils/vue-router-utils/test/.eslintrc.js
  utils/vue-router-utils/test/jest.setup.js
  utils/vue-router-utils/test/tsconfig.json
  utils/vue-router-utils/tsconfig.json
Due: none

chore: updated vuelidate-utils
  utils/vuelidate-utils/.eslintrc.js
  utils/vuelidate-utils/README.md
  utils/vuelidate-utils/jest.config.js
  utils/vuelidate-utils/package.json
  utils/vuelidate-utils/test/.eslintrc.js
  utils/vuelidate-utils/test/jest.setup.js
  utils/vuelidate-utils/test/tsconfig.json
  utils/vuelidate-utils/tsconfig.json
Due: none

chore: updated packages
  package.json
  packages/eslint-typescript/package.json
  utils/text-utils/package.json
  utils/vue-router-utils/package.json
  yarn.lock
Due: text-utils

chore: fixed tsconfig and eslint
  packages-boilerplate-copy-and-paste/service-plugin/.eslintrc.js
  packages-boilerplate-copy-and-paste/service-plugin/tsconfig.eslint.json
  utils/text-utils/.eslintrc.js
  utils/text-utils/test/tsconfig.json
  utils/text-utils/tsconfig.eslint.json
  utils/vue-router-utils/.eslintrc.js
  utils/vue-router-utils/test/tsconfig.json
  utils/vue-router-utils/tsconfig.eslint.json
  utils/vuelidate-utils/.eslintrc.js
  utils/vuelidate-utils/README.md
  utils/vuelidate-utils/test/tsconfig.json
  utils/vuelidate-utils/tsconfig.eslint.json
  utils/vuex-utils/.eslintrc.js
  utils/vuex-utils/jest.config.js
  utils/vuex-utils/package.json
  utils/vuex-utils/test/.eslintrc.js
  utils/vuex-utils/test/jest.setup.js
  utils/vuex-utils/test/tsconfig.json
  utils/vuex-utils/tsconfig.eslint.json
  utils/vuex-utils/tsconfig.json
  vuex-common-stores/base-store/.eslintrc.js
  vuex-common-stores/base-store/package.json
  vuex-common-stores/base-store/tests/.eslintrc.js
Due: text-utils, base-store

chore: fixed axios tests
  clients/axios/.eslintignore
  clients/axios/.eslintrc.js
  clients/axios/README.md
  clients/axios/jest.config.js
  clients/axios/package.json
  clients/axios/test/jest.setup.js
  clients/axios/test/tsconfig.json
  clients/axios/tsconfig.eslint.json
  clients/axios/tsconfig.json
  clients/axios/tsdx.config.js
Due: axios

refactor: fixed eslint packages
  packages/eslint-import/package.json
  packages/eslint-typescript/index.js
  packages/eslint-typescript/package.json
  packages/eslint-typescript/rules/errors.js
  packages/eslint-typescript/rules/extends.js
  packages/eslint-typescript/rules/parser.js
  packages/eslint-typescript/rules/rules.js
  packages/eslint-vue-i18n/package.json
  packages/eslint-vue-i18n/rules/errors.js
  packages/eslint-vue-i18n/rules/extends.js
  packages/eslint-vue-i18n/rules/settings.js
  packages/eslint/index.js
  packages/eslint/package.json
  packages/eslint/rules/errors.js
  packages/eslint/rules/extends.js
  packages/eslint/rules/globals.js
  packages/eslint/rules/off.js
  packages/eslint/rules/plugins.js
  packages/eslint/rules/rules.js
  packages/eslint/rules/warn.js
Due: none

refactor: fixed eslint packages vue-ts-component
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/.eslintrc.js
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/jest.config.js
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/tests/shims-vue.d.ts
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/tests/utils/mountQuasarOptions.ts
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/tsconfig.eslint.json
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/tsconfig.json
Due: none

refactor: fixed eslint packages vue-ts-component-quasar
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/.eslintrc.js
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/jest.config.js
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/tests/shims-vue.d.ts
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/tests/tsconfig.json
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/tests/utils/mountQuasarOptions.ts
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/tsconfig.eslint.json
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/tsconfig.json
Due: none

refactor: fixed eslint packages service-plugin
  package.json
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/jest.config.js
  packages-boilerplate-copy-and-paste/service-plugin/.eslintignore
  packages-boilerplate-copy-and-paste/service-plugin/.eslintrc.js
  packages-boilerplate-copy-and-paste/service-plugin/jest.config.js
  packages-boilerplate-copy-and-paste/service-plugin/package.json
  packages-boilerplate-copy-and-paste/service-plugin/test/jest/jest.setup.js
  packages-boilerplate-copy-and-paste/service-plugin/test/tsconfig.json
  packages-boilerplate-copy-and-paste/service-plugin/tsconfig.json
  vuex-common-stores/base-store/jest.config.js
Due: none

refactor: fixed eslint packages quasar-webapp
  packages-boilerplate-copy-and-paste/quasar-webapp/.eslintrc.js
  packages-boilerplate-copy-and-paste/quasar-webapp/jest.config.js
  packages-boilerplate-copy-and-paste/quasar-webapp/package.json
  packages-boilerplate-copy-and-paste/quasar-webapp/test/loaders/jest-loader.js
  packages-boilerplate-copy-and-paste/quasar-webapp/test/shims-vue.d.ts
  packages-boilerplate-copy-and-paste/quasar-webapp/wallaby.js
  packages-boilerplate-copy-and-paste/service-plugin/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-plugin/package.json
  packages-boilerplate-copy-and-paste/vue-ts-component-quasar/package.json
Due: none

refactor: fixed eslint packages quasar-extension
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/.eslintrc.js
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/jest.config.js
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/package.json
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/tests/shims-vue.d.ts
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/tests/utils/mountQuasarOptions.ts
  packages-boilerplate-copy-and-paste/quasar-app-extension-ui-component/tsconfig.json
Due: none

refactor: fixed eslint packages webapp
  applications/webapp/.eslintrc.js
  applications/webapp/jest.config.js
  applications/webapp/package.json
  applications/webapp/test/loaders/jest-loader.js
  applications/webapp/test/shims-vue.d.ts
  applications/webapp/wallaby.js
Due: webapp

refactor: fixed eslint packages webapp
  applications/webapp/test/.eslintrc.js
  applications/webapp/test/tsconfig.json
Due: webapp

refactor: fixed eslint packages webapp
  clients/axios/.eslintignore
  clients/axios/.eslintrc.js
  clients/axios/jest.config.js
  clients/axios/package.json
  clients/axios/test/.eslintrc.js
  clients/axios/test/jest/jest.setup.js
  clients/axios/test/tsconfig.json
  clients/axios/tsconfig.json
Due: axios

refactor: fixed eslint packages graphql
  clients/axios/tsconfig.eslint.json
  clients/graphql/.eslintignore
  clients/graphql/.eslintrc.js
  clients/graphql/jest.config.js
  clients/graphql/package.json
  clients/graphql/test/.eslintrc.js
  clients/graphql/test/jest/jest.setup.js
  clients/graphql/test/tsconfig.json
  clients/graphql/tsconfig.eslint.json
  clients/graphql/tsconfig.json
Due: axios, graphql

refactor: fixed eslint packages
  yarn.lock
Due: none

refactor(eslint-typescript): fixed eslint packages
  packages/eslint-typescript/rules/rules.js
  yarn.lock
Due: none

chore: update .huskyrc
  .huskyrc
Due: none

Add renovate.json
  renovate.json
Due: none

Path conditions:
  webapp: any of: applications/webapp/, but not: **/_templates/**/*, **/docs/**/*, **/dist/**/*, **/*.config.js, packages-boilerplate-copy-and-paste/**/*, applications/**/tests/*, applications/**/__mocks__/*, clients/**/tests/*, clients/**/__mocks__/*, packages/**/tests/*, packages/**/__mocks__/*, utils/**/tests/*, utils/**/__mocks__/*, vuex-common-stores/**/tests/*, vuex-common-stores/**/__mocks__/*
  axios: any of: clients/axios/, but not: **/_templates/**/*, **/docs/**/*, **/dist/**/*, **/*.config.js, packages-boilerplate-copy-and-paste/**/*, applications/**/tests/*, applications/**/__mocks__/*, clients/**/tests/*, clients/**/__mocks__/*, packages/**/tests/*, packages/**/__mocks__/*, utils/**/tests/*, utils/**/__mocks__/*, vuex-common-stores/**/tests/*, vuex-common-stores/**/__mocks__/*
  graphql: any of: clients/graphql/, but not: **/_templates/**/*, **/docs/**/*, **/dist/**/*, **/*.config.js, packages-boilerplate-copy-and-paste/**/*, applications/**/tests/*, applications/**/__mocks__/*, clients/**/tests/*, clients/**/__mocks__/*, packages/**/tests/*, packages/**/__mocks__/*, utils/**/tests/*, utils/**/__mocks__/*, vuex-common-stores/**/tests/*, vuex-common-stores/**/__mocks__/*
  quasar-testing: any of: packages/quasar-testing/, but not: **/_templates/**/*, **/docs/**/*, **/dist/**/*, **/*.config.js, packages-boilerplate-copy-and-paste/**/*, applications/**/tests/*, applications/**/__mocks__/*, clients/**/tests/*, clients/**/__mocks__/*, packages/**/tests/*, packages/**/__mocks__/*, utils/**/tests/*, utils/**/__mocks__/*, vuex-common-stores/**/tests/*, vuex-common-stores/**/__mocks__/*
  text-utils: any of: utils/text-utils/, but not: **/_templates/**/*, **/docs/**/*, **/dist/**/*, **/*.config.js, packages-boilerplate-copy-and-paste/**/*, applications/**/tests/*, applications/**/__mocks__/*, clients/**/tests/*, clients/**/__mocks__/*, packages/**/tests/*, packages/**/__mocks__/*, utils/**/tests/*, utils/**/__mocks__/*, vuex-common-stores/**/tests/*, vuex-common-stores/**/__mocks__/*
  base-store: any of: vuex-common-stores/base-store/, but not: **/_templates/**/*, **/docs/**/*, **/dist/**/*, **/*.config.js, packages-boilerplate-copy-and-paste/**/*, applications/**/tests/*, applications/**/__mocks__/*, clients/**/tests/*, clients/**/__mocks__/*, packages/**/tests/*, packages/**/__mocks__/*, utils/**/tests/*, utils/**/__mocks__/*, vuex-common-stores/**/tests/*, vuex-common-stores/**/__mocks__/*
